{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}

<main>

            {{ form_start(RegistrationFormType) }}

            {{ form_end(RegistrationFormType) }}
</main>
    
{% endblock %}
