@media screen and (min-width: 1320px ){
    @font-face {
        font-family: 'Empiric Roman';
        src: url(/assets/Font/empiric_roman/EMPORO.TTF);
    }
    label{
    padding-right: 180px;
    }
    .ContactAreaDiv{
        
        padding-top: 50px;
        display: flex;
        justify-content: center;
    }

    .contactArea{
        
        position: absolute;
        padding: 10px;

        width: 400px;
        height: 450px;
        color: white;
        
        background-color: rgba(51, 51, 51, 0);
        box-shadow: 0 0 30px white;
    }
}
@media screen and (max-width: 1320px ){
    @font-face {
        font-family: 'Empiric Roman';
        src: url(/assets/Font/empiric_roman/EMPORO.TTF);
    }

    .ContactAreaDiv{
        padding: 20vh;
        display: flex;
        justify-content: center;
    }

    .contactArea{
        
        position:fixed;
        width: 70%;
        height: 50vh;
        color: white;
        background-color: rgba(51, 51, 51, 0);
        box-shadow: 0 0 30px white;
    }
}