*,
::before,
::after{
 box-sizing: border-box;
    margin:0;
    padding: 0;
}

@media screen and (min-width: 1024px ) {

    @font-face {
        font-family: 'Empiric Roman';
        src: url(/assets/Font/empiric_roman/EMPORO.TTF);
    }
    body{
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        /* background: #312a2a; */
        height: 1320px;
        background-color: black;


    }
    main{
        height: 1320px;
    }
    nav {
        position: fixed;
        width: 1850px;
        display: flex;
        align-items: center;
        padding: 15px 25px;
        background: #131212d3;
        box-shadow: inset 0px -1px 0px #c5c5c600;
    }
    .logo{
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-right: 20px;
    }
    .logo span{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        margin-left: 10px;
        font-weight: 400;
        color: #333;
    }

    .logo img {
        width: 40px;
        transform: rotate(-2deg) translate(3px);
    }
    .hamburger {
        display: none;
    }
    .navlinks-container a {
        margin: 0 10px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color: #686868;
        display: inline-block;
        position: relative;
    }

    .navlinks-container a::after{
        content: "";
        cursor: alias;
        display: block;
        position: relative;
        bottom: -3px;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: left;
        background: #333;
        transition: 0.3s ease-out;

    }

    .navlinks-container a:hover::after{
        transform: scaleX(1)
    }

    .nav-authentication{
        margin-left: auto;
    }


    img{
        width: 20px;

    }

    h1{
        border-top: 2px solid rgba(255, 255, 255, 0.568);
        border-left: 1px solid rgba(255, 255, 255, 0.568);
        padding: 5px;
        display: flex;
        justify-content: center;
        color: white;
        margin-bottom: 70px;
        font-family:'Empiric Roman';
    }

    h2{
        width: 1500px;
        border-top: 2px solid rgba(255, 255, 255, 0.568);
        border-left: 1px solid rgba(255, 255, 255, 0.568);
        padding: 5px; 
        margin-left: 180px;
        align-items: center;
    }
    .container_list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 300px;
        max-width: 1000px;
        margin-top: 10px;
        gap: 30px;
        border-image-source:url(/assets/img/n.jpg) ;
        border-image-slice: 50
    }


    .ticket{
        display: flex;
        border-top: 2px solid rgba(255, 255, 255, 0.568);
        border-left: 1px solid rgba(255, 255, 255, 0.568);
        padding: 5px;
        width: 100%;
        
    }
    input{
        margin-right: 800px;
        height: 60px;
    }

    .ticketNumber{
        border-top: 2px solid rgba(255, 255, 255, 0.568);
        padding: 2px;
        width: 15px;
        font-size: 20px;
        color: rgb(240, 240, 240);
    }

    #btn_increase{
        background: none;
        outline: none;
        border: 1px solid black;

    }
    #btn_decrease{
        background: none;
        outline: none;
        border: 1px solid black;
    }

    button{
        border: 1px solid rgba(255, 255, 255, 0.568);
        padding: 5px;
        margin: 7px;

        height: 40px;
        width: 50px;
    }

    #trippyForm1{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 50px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm2{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 76px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm3{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 30px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm4{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 50px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm5{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 150px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm6{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 200px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm7{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 800px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm8{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 786px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm9{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 90px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm10{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 50px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm11{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 786px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm12{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 985px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm13{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 554px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm14{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 1852px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm15{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 956px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm16{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 1250px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm17{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 200px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm18{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 150px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm19{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 50px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm20{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 457px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm21{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 863px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm22{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 1635px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm23{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 1010px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm24{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 874px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm25{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 1900px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm26{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 1350px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm27{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 258px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm28{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 659px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm29{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 247px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm30{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 777px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm31{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 893px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm32{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 920px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm33{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 122px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm34{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 1356px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm35{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 1489px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm36{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 1111px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm37{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 1689px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm38{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 420px;
        padding: 5px;
        width: 10px;
    }
    #trippyForm39{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 1312px;
        padding: 5px;
        width: 10px;
    }
}

@font-face {
    font-family: 'Empiric Roman';
    src: url(/assets/Font/empiric_roman/EMPORO.TTF);
}
body{

    
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 1760px;
    height: 5800px;
    background-color: black;



}
.bodydiv{
    width: 100%;
    border: 30px solid;
    
    border-image-source:url(/assets/img/n.jpg) ;
    border-image-slice: 50
    
}
nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: #131212d3;
    box-shadow: inset 0px -1px 0px #c5c5c600;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}
.logo span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    color: #333;
}

.logo img {
    width: 40px;
    transform: rotate(-2deg) translate(3px);
}
.hamburger {
    display: none;
}
.navlinks-container a {
    margin: 0 10px;
    font-size: 200px;
    font-weight: 502px;
    text-decoration: none;
    color: #686868;
    display: inline-block;
    position: relative;
}

.navlinks-container a::after{
    content: "";
    cursor: alias;
    display: block;
    position: relative;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: #333;
    transition: 0.3s ease-out;

}

.navlinks-container a:hover::after{
    transform: scaleX(1)
}

.nav-authentication{
    margin-left: auto;
}
.signs-btn{
position: sticky;
height:10px;
}

img{
    width: 20px;
}

.carouselImg{
    background-size: cover;

}

#h1Date{
    width: 1700px;
    border-top: 2px solid rgba(255, 255, 255, 0.568);
    border-left: 1px solid rgba(255, 255, 255, 0.568);
}
h1{

    
    display: flex;
    flex-direction: row; 
    justify-content: center;
    width: 1100px;
    padding-top: 40px;
    padding-left: 600px;
    color: white;
    margin-bottom: 80px;
    font-family:'Empiric Roman';

}

h2{
    width: 1700px;
    border-top: 2px solid rgba(255, 255, 255, 0.568);
    border-left: 1px solid rgba(255, 255, 255, 0.568);
    padding: 5px; 
    margin-left: 180px;
    align-items: center;
}
.container_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    width: 1500px;
    margin-top: 50px;
    gap: 30px;
}


.ticket{
    display: flex;
    border-top: 2px solid rgba(255, 255, 255, 0.568);
    border-left: 1px solid rgba(255, 255, 255, 0.568);
    padding: 35px;
    width: 100%;
    
}
input{
    display: flex;
    width: 900px;
    height: 90px;
}

.ticketNumber{
    border-top: 2px solid rgba(255, 255, 255, 0.568);
    padding-left: 250px;
    width: 15px;
    font-size: 40px;
    color: rgb(240, 240, 240);
}

.btn_increase{
    background: none;
    outline: none;
    color: white;
    border: 1px solid white;
    display: block;
    padding: 55px;
    margin-left: 250px;
    height: 40px;
    width: 70px;

}
.btn_decrease{
    background: none;
    outline: none;
    color: white;
    border: 1px solid white;
    display: block;
    padding: 55px;
    margin-left: 150px;
    height: 40px;
    width: 70px;
    

}

button{
    border: 1px solid rgba(255, 255, 255, 0.568);

}

#trippyForm1{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 350px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;
}
#trippyForm2{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 760px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm3{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 1400px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm4{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 50px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm5{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 150px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm6{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 200px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm7{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 800px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm8{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 786px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm9{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 90px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm10{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 50px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm11{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 786px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm12{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 985px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm13{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 554px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm14{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 1852px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm15{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 956px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm16{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 1250px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm17{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 200px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm18{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 150px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm19{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 50px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm20{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 457px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm21{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 863px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm22{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 1635px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm23{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 1010px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm24{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 874px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm25{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 1900px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm26{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 1350px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm27{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 258px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm28{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 659px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm29{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 247px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm30{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 777px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm31{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 893px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm32{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 920px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm33{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 122px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm34{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 1356px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm35{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 1489px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm36{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 1111px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm37{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 1689px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm38{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-right: 420px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
#trippyForm39{
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin-left: 1312px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 30px white;

}
