@media screen and (min-width: 930px ) {



    h1{
        border-top: 2px solid rgba(255, 255, 255, 0.568);
        border-left: 1px solid rgba(255, 255, 255, 0.568);
        padding: 2px;
        display: flex;
        justify-content: center;
        color: white;
        margin-bottom: 70px;
        font-family:'Empiric Roman';
    }

    h2{
        width: 1500px;
        border-top: 2px solid rgba(255, 255, 255, 0.568);
        border-left: 1px solid rgba(255, 255, 255, 0.568);
        padding: 5px; 
        margin-left: 180px;
        align-items: center;
    }
    .container_list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 200px;
        max-width: 1000px;
        margin-top: 10px;
        gap: 30px;
        border-image-source:url(/assets/img/n.jpg) ;
        border-image-slice: 50
    }


    .ticket{
        display: flex;
        border-top: 1px solid rgba(255, 255, 255, 0.568);
        border-left: 1px solid rgba(255, 255, 255, 0.568);
        padding: 5px;
        width: 100%;
        
    }
    input{
        min-width: 400px;
        margin-right: 800px;
        height: 60px;
    }

    .ticketNumber{
        /* border-top: 2px solid rgba(255, 255, 255, 0.568); */
        padding: 20px;
        width: 15px;
        font-size: 20px;
        color: rgba(201, 201, 201, 0.596);
    }

    .btn_increase{
        background: none;
        outline: none;
        color: white;
        border: 1px solid white;
        display: block;
        padding: 25px;
        margin-left: 30rem;
        height: 40px;
        width: 70px;
        font-size: 30px;
        border-radius: 20px;


    }
    .btn_decrease{
        background: none;
        outline: none;
        color: white;
        border: 1px solid white;
        display: block;
        padding: 25px;
        margin-left: 10rem;
        height: 35px;
        width: 70px;
        font-size: 30px;
        border-radius: 20px;

    }

    button{
        border: 1px solid rgba(255, 255, 255, 0.568);
        padding: 5px;
        margin: 7px;

        height: 40px;
        width: 50px;
    }

    #trippyForm1{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 80vw;
        padding: 5px;
        width: 7px;
    }
    #trippyForm2{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 40vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm3{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm4{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 80vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm5{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 40vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm6{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm7{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 80vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm8{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm9{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 40vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm10{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 80vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm11{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm12{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 40vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm13{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 80vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm14{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm15{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 40vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm16{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 80vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm17{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm18{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 40vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm19{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 80vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm20{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm21{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 40vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm22{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 80vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm23{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm24{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 40vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm25{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 80vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm26{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm27{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 40vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm28{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 80vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm29{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm30{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 40vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm31{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 80vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm32{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm33{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 40vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm34{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 80vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm35{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm36{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 40vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm37{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 80vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm38{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15vw;
        padding: 5px;
        width: 10px;
    }
    #trippyForm39{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 40vw;
        padding: 5px;
        width: 10px;
    }
}



@media screen and (max-width: 929px ){
    #h1Date{
        width: 30vw;
        border-top: 3px solid rgba(255, 255, 255, 0.568);
        border-left: 3px solid rgba(255, 255, 255, 0.568);
    }
    h1{

        
        display: flex;
        flex-direction: row; 
        justify-content: center;
        width: 70%;
        padding-top: 40px;
        padding-left: 50vh;
        color: white;
        margin-bottom: 80px;
        font-family:'Empiric Roman';

    }

    h2{
        width: 100%;
        border-top: 5px solid rgba(255, 255, 255, 0.568);
        border-left: 5px solid rgba(255, 255, 255, 0.568);
        align-items: center;
        
    }
    .container_list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4rem;
        width: 80%;
        margin-top: 50px;
        gap: 1em;
    }


    .ticket{
        display: flex;
        border-top: 5px solid rgba(255, 255, 255, 0.568);
        border-left: 5px solid rgba(255, 255, 255, 0.568);
        padding: 1em;
        width: 100%;
        border-radius: 5%;
        
    }
    input{
        display: flex;
        width: 30rem;
        height: 100px;
    }

    .ticketNumber{
        /* border-top: 2px solid rgba(255, 255, 255, 0.568); */
        padding-left: 2vh;
        width: 9px;
        font-size: 30px;
        color: rgb(156, 153, 153);
    }

    .btn_increase{
        background: none;
        outline: none;
        color: white;
        border: 2px solid white;
        padding: 40px;
        margin-left: 10rem;
        height: 40px;
        width: 70px;
        font-size: 35px;
        border-radius: 20px;


    }
    .btn_decrease{
        background: none;
        outline: none;
        color: white;
        border: 2px solid white;
        display: block;
        padding: 40px;
        margin-left: 5rem;
        height: 40px;
        width: 30px;
        font-size: 35px;
        border-radius: 20px;


    }

    button{
        border: 1px solid rgba(255, 255, 255, 0.568);

    }

    #trippyForm1{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 22rem;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;
    }
    #trippyForm2{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 5rem;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm3{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 40rem;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 15px white;

    }
    #trippyForm4{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15rem;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm5{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm6{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 40rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm7{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 40rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm8{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm9{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm10{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 30rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm11{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm12{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm13{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 40rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm14{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm15{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm16{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm17{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 40rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm18{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm19{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm20{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 40rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm21{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm22{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 40rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm23{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm24{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm25{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 40rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm26{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm27{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm28{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 40rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm29{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm30{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 15rem;
        padding: 1px;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm31{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15rem;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm32{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 40rem;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm33{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 15rem;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm34{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 15rem;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm35{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 40rem;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm36{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15rem;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm37{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 40rem;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm38{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-right: 15rem;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
    #trippyForm39{
        border: 1px solid rgba(255, 255, 255, 0.568);
        margin-left: 15rem;
        height: 20px;
        width: 25px;
        box-shadow: 0 0 30px white;

    }
}