/* *,
::before,
::after{
 box-sizing: border-box;
    margin:0;
    padding: 0;
} */
@font-face {
    font-family: 'Empiric Roman';
    src: url(/assets/Font/empiric_roman/EMPORO.TTF);
}



/* main{
    width: 1920px;
    height: 1080px;
} */
nav {
    width: 1820px;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: #131212d3;
    box-shadow: inset 0px -1px 0px #c5c5c600;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}
.logo span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    color: #333;
}

.logo img {
    width: 40px;
    transform: rotate(-2deg) translate(3px);
}
.hamburger {
    display: none;
}
.navlinks-container a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #686868;
    display: inline-block;
    position: relative;
}

.linknav{
    box-shadow: 0 0 10px rgba(143, 119, 119, 0.144);

}

.navlinks-container a::after{
    content: "";
    cursor: alias;
    display: block;
    position: relative;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: #333;
    transition: 0.3s ease-out;

}

.navlinks-container a:hover::after{
    transform: scaleX(1)
}

.nav-authentication{
    margin-left: auto;
}

#button-login{
    position:absolute;
    right: 7rem;
    bottom: 17px;
    background: none;
    text-transform: uppercase;
    text-shadow:0 0 25px rgb(74, 190, 119);
    color: rgb(133, 209, 186);
    letter-spacing: 2px;
    transition: .5s;
    overflow: hidden;

}
#button-register{
        position:absolute;
        right: 2rem;
        bottom: 17px;
        background: none;
        text-transform: uppercase;
        text-shadow:0 0 25px rgb(74, 190, 119);
        color: rgb(133, 209, 186);
        letter-spacing: 2px;
        transition: .5s;
        overflow: hidden;
}

#button-login:hover{
    background-color: rgba(80, 129, 109, 0.493) ;
    color: #333;
    box-shadow: 0 0 5px rgba(80, 161, 129, 0.335),
                0 0 25px rgba(80, 161, 128, 0.493),
                0 0 50px rgba(80, 161, 128, 0.493),
                0 0 200px rgba(80, 161, 128, 0.493);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#button-register:hover{
    background-color: rgba(80, 129, 109, 0.493) ;
    color: #333;
    box-shadow: 0 0 5px rgba(80, 161, 129, 0.335),
                0 0 25px rgba(80, 161, 128, 0.493),
                0 0 50px rgba(80, 161, 128, 0.493),
                0 0 200px rgba(80, 161, 128, 0.493);
                -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

img{
    width: 20px;
}

.carouselImg{
    background-size: cover;

}



h3{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 50px;
    color: white;
    letter-spacing: 0.18rem;
    overflow-wrap:normal;
}

h4{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 50px;
    color: white;
    letter-spacing: 0.18rem;
    overflow-wrap:normal;


}

p{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 55px;
    color: white;
    letter-spacing: 0.18rem;
    overflow-wrap:normal;




}

strong{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 50px;
    color: white;
    letter-spacing: 0.18rem;
    overflow-wrap:normal;


}

