
.product{

}
.shadow{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 500px;
    width: 25%;
    align-items: center;

    box-shadow: 10px 15px rgba(112, 71, 71, 0.336);
    border-radius: 50px;
    background: linear-gradient(#2d555279,rgba(255, 102, 255, 0.199));




}
.merch{
    display: block;
    justify-content: space-evenly;
    height: 500px;
    
    
    
}

#productName{
margin-bottom: 20rem;
}
.productImg{
    height: 200px;
}
#button-create{
    width: 100px;
    position:fixed;
    right: 5rem;
    bottom: 40px;
    background: none;
    text-transform: uppercase;
    text-shadow:0 0 25px rgb(74, 190, 119);
    color: rgb(133, 209, 186);
    letter-spacing: 2px;
    transition: .5s;
    overflow: hidden;

}

#button-create:hover{
    background-color: rgba(80, 129, 109, 0.493) ;
    color: rgb(37, 37, 37);
    box-shadow: 0 0 5px rgba(80, 161, 129, 0.335),
                0 0 25px rgba(80, 161, 128, 0.493),
                0 0 50px rgba(80, 161, 128, 0.493),
                0 0 200px rgba(80, 161, 128, 0.493);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}




