
.productRead{
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}

.shadowRead{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 50%;
    align-items: center;
    box-shadow: 10px 15px rgba(112, 71, 71, 0.13);
    border-radius: 40px;
    background: linear-gradient(#2d555286,rgba(255, 102, 255, 0.048));
}

.merchRead{
    display: flex;
    justify-content:flex-end; 
    padding-left: 15vh;   
    height: 400px;
    width: 60%;
}

#productImgRead{
    width: 80%;
    height: 35vh;
    padding-bottom: 5vh;
    padding-right: 5vw;
    margin-left: 30vh;
    border-radius: 2vh;
}

#productNameRead{
margin-top: 25rem;

}

#productPriceRead{
    margin-top: 25rem;
   
}
.Panierbtn{
    display: flex;
    justify-content: center;
    max-width: 50px;
    margin-top: 200px;
    
}
.selectSize{
    height: 60px;
    min-width: 80px;
    margin: 10px;
    text-shadow:0 0 25px rgb(74, 190, 119);
    color: rgb(133, 209, 186);
    background: none;

}

.selectSize:hover{
    background-color: rgba(80, 129, 109, 0.493) ;
    color: rgb(37, 37, 37);
    box-shadow: 0 0 5px rgba(80, 161, 129, 0.335),
                0 0 25px rgba(80, 161, 128, 0.493),
                0 0 50px rgba(80, 161, 128, 0.493),
                0 0 200px rgba(80, 161, 128, 0.493);

}

.buyButton{
    text-decoration: none;
    color: rgb(133, 209, 186);
    max-height: 70px;
    border: 1px solid rgb(167, 211, 196);
    color:0 0 50px rgba(84, 104, 96, 0.493) ;
    background-color: rgba(80, 129, 109, 0.178);
    padding-right: 45px;
    padding-top: 20px;
    border-radius: 15px;
    
}