{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block current_css %}
    {# <link rel="stylesheet" href="{{ asset('asset/style/merch.css') }}"> #}
          {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}

<main>
<div class="ContactArea">
    <label for="contact">
    Contact Us
    </label>

    <textarea class="contactArea" name="contact">
    Contact us:
    </textarea>
</div>
</main>
{% endblock %}
