{% extends 'base.html.twig' %}
{% block current_css %}
    <link rel="stylesheet" href="{{ asset('asset/style/help.css') }}">
{% endblock %}

{% block title %}Hello PrivacyPolicyController!{% endblock %}

{% block body %}

<strong>
INTRODUCTION
</strong>

<p>
This privacy policy explains our practices regarding information collected through the Milao websites; 

shop.Milaomerch.com

online store, blog and social accounts, and interfaces through applications and other online services, products and features we may make available, whether accessed via computer, mobile device, smart TV or otherwise (collectively the “Sites”).

In this privacy policy, “MILAO” “we” “us” or “our” refers to Kill The 8 Merch Co., KT8 Merch Co., Kill the 8 Print Co., KT8 Touring Limited, and their respective subsidiaries, affiliates, related companies and third party contractors from time to time.
</p>

<strong>
WHAT PERSONAL INFORMATION DO WE COLLECT
</strong>

<p>
In order to operate the Sites, we collect two types of information about our users: Personal Information (information that can personally identify you such as your name, address, email address, birth date, location, gender, etc.), and Non-Personal Information (information of an anonymous nature that could not be used to identify or re-identify you). In either case, we limit our collection to what is needed for the purposes in this policy, or as otherwise stated or implied at the time of collection.

When you access our Sites as a registered user, subscriber or visitor, we collect and use the Personal Information, Non-Personal Information and other content, communications and other information you provide when you use our Sites. Such information is collected when you interact with the Sites by:


</p>

<p>
Creating or sharing content

</p>

<p>
Messaging or communicating with others

</p>

<p>
Registering for an account

</p>

<p>
Using features made available

</p>

<p>
Signing up for news and updates

</p>

<p>
Participating in promotions, contests or events

</p>

<p>
Making a purchase

</p>

<p>
Providing information to us in relation to a product, service or technical issue

</p>

<p>
Specifically, we collect information about:


</p>

<p>
If you register an account with us, your name, email address, age, gender, and geographic location;

</p>

<p>
If you make a purchase on the Site, your billing, shipping and contact details;

</p>

<p>
The type and version of browser or operating system you may be using, the websites you may have come from and visit next, and other Non-Personal Information which is provided through your browser or stored on a cookie or through web beacons;

</p>

<p>
The metadata on content you provide, which can indicate things like where a photo was taken, or the date a file was created; and

</p>

<p>
How you use the Sites including the type of content you view or engage with, the features you use, the people or accounts you interact with, and the time, frequency and duration of your activities. For example, we may log when you're using and have last used our Sites, and which posts, videos and other content you viewed.

</p>

<p>
Some of the Personal Information we collect, such as payment information, we consider to be sensitive information.


</p>

<p>
Our web servers may automatically collect Non-Personal Information which is provided through your browser or stored on cookies or other similar technologies when you visit the Sites. You can set your browser to refuse all or some browser cookies, or to alert you when websites access cookies. If you disable or refuse cookies, please note that some parts of our Sites may become inaccessible or fail to function properly.
</p>

<strong>
INFORMATION WE COLLECT OR DICLOSE TO THIRD PARTIES
</strong>

<p>
We work with business partners to provide and operate the Sites. For example, we have partners that:


</p>

<p>
Provide payment software; and

</p>

<p>
Give you the option to engage with our Sites using your existing social accounts.

</p>

<p>
Our partners receive your data if you use their services on our Sites, and your data then becomes subject to their privacy policies.


</p>

<p>
When you interact with partners on or through our Sites, they may provide us with:


</p>
Information about your device;

<p>

</p>
Details as to how you use their services; and

<p>
If you use social logins, your account log-in credentials, name, profile picture, and, if you give us permission, things like your likes, check-ins and friends list.

</p>

<p>
We require our partners’ commitment to collect, use and share your data in accordance with applicable laws.
</p>

<p>
We don’t sell your personal data to advertisers, and we don’t share information that directly identifies you (such as your name, email address or other contact information) with advertisers unless you give us specific permission.
</p>

<p>
Other users provide information when they use our Sites. This information could sometimes include information about you, such as when others share a photo or other content featuring you through our Sites.
</p>

<strong>
HOW DO WE USE THE INFORMATION WE COLLECT?
</strong>

<p>
We use your Personal and Non-Personal Information so that we can:


</p>
Give you access to the Sites and their features;

<p>
Detect and prevent spam, maintain the integrity and security of the Sites, and ensure compliance with our Terms and Conditions;

</p>

<p>
Verify accounts and their activity;

</p>

<p>
Complete transactions;

</p>

<p>
Monitor and improve the functionality of the Sites including consistency of your experience across various devices;

</p>

<p>
Contact you, from time to time, about changes, enhancements or other similar notices regarding the Sites;

</p>

<p>
Administer contests and other promotions;

</p>

<p>
Complete administrative functions, such as to reply when you contact us about inquiries, complaints, or suggestions;

</p>

<p>
Learn more about, better serve, and cater our Sites to your preferences so we can do things like suggest articles, events and other things that we think you might like;

</p>

<p>
Send you e-communications about offers and information about us and/or selected partners that we feel will be of interest to you, if you have indicated you want to receive such offers and information;

</p>

<p>
Perform statistical analyses of the collective characteristics of users of the Sites, to measure user demographics and interests, to describe our services to third parties such as prospective business partners and advertisers and to analyze how and where best to use our resources; and

</p>

<p>
In the case of social logins, link your accounts for sign-in purposes, connect you with existing contacts and allow you to post directly from our Sites to your other social accounts. We won’t post without your permission.

</p>

<p>
You are under no obligation to provide Personal Information, but your refusal to do so may prevent you from using certain portions or features of our Sites.


</p>

<strong>
WHO SEES YOUR PERSONAL INFORMATION?
</strong>


<p>
Access to Personal Information within KT8 will be restricted to those individuals who need the information in order to carry out their job duties. Those individuals are trained and instructed to maintain the information in the strictest of confidence and will not provide access to the information to anyone who is not authorized.

All individuals we hire to conduct business on our behalf will be required to respect the provisions of this policy and our procedures. Violations of any part of the contractual agreement may result in termination of the contract.


</p>

<strong>
CONSENT
</strong>

<p>
Wherever possible, we seek a person’s consent before we collect their Personal Information. The form of consent may vary depending on the circumstances and the type of information being requested. Consent can be express or implied and can be provided directly by the individual or by an authorized representative.
</p>

<p>
We prefer express consent. Express consent can be given orally, electronically or in writing. Implied consent may be reasonably inferred from a person’s action or inaction. For example, providing a name and address to sign up for our newsletter, or a name and telephone number to receive a response to a question implies that we have your consent to use such information. When determining the appropriate form of consent, we take into account the sensitivity of the personal information, the reasons we are collecting it, and the reasonable expectations of the person. When using Personal Information for a new purpose, we will document that new purpose and ask for consent again.
</p>

<p>
If you wish to withdraw (revoke) your consent for the collection, use or disclosure of your Personal Information by KT8, please contact us any time at orders@kt8merch.com. Your withdrawal of consent can’t be retroactive, since we may already have used your information for the purposes described, but the withdrawal will be applied on a go-forward basis.
</p>

<strong>
ANTI-SPAM
</strong>

<p>
Where applicable, we will seek your express consent to contact you, including by way of commercial electronic messages.  You can unsubscribe at any time from receiving commercial electronic messages by following the instructions in the electronic message you received or by emailing us. You can contact us c/o Kt8 Merch Co., 99 Sunrise Ave, North York, Ontario Canada, M4A 1A9 and orders@kt8merch.com

Even if you have opted out of receiving marketing communications from us, please be aware that we may still contact you for other purposes.  For example, we may contact you regarding the products or services you request from us, or if you contact us with an inquiry.


</p>

<strong>
HOW WE PROTECT YOUR PERSONAL INFORMATION
</strong>

<p>
We will not disclose your Personal Information except in accordance with this privacy policy unless it is required by law. In that case, we will aim to disclose only the specific information that is needed under the circumstances.
</p>

<p>
We will protect Personal Information from loss or theft, unauthorized access, use or disclosure, modification or destruction through appropriate administrative, and technical/physical security measures and safeguards. We instruct our employees, contractors and agents with access to your Personal Information that it is to be used only in adherence with the principles set forth in this privacy policy and the laws applicable to each specific business. Such access is limited to employees, contractors and agents who have a business need to know.
</p>

<p>
We use safeguards that are commensurate to the sensitivity of the information. For example, in the event you provide credit card information to us, we work to help protect the security of your credit card information during transmission by using industry standard encryption technology.
</p>

<p>
The level of safeguarding used to protect Personal Information will depend on the:


</p>

<p>
Sensitivity of the personal information;

</p>

<p>
Amount, distribution and format of the information; and

</p>

<p>
Method of storage.

</p>

<p>
You can help protect the security of your Personal Information as well. For instance, never give out your passwords, since this enables access to your accounts or registration information. Also remember to log out of your account and close your browser window when you finish using the Sites or surfing the Web, so that other people using the same computer won't have access to your information.
</p>

<p>
Unfortunately, no database or data transmission over the internet can be guaranteed to be 100% secure. While we strive to protect your Personal Information and privacy, we cannot guarantee or warrant the security of any information you disclose or transmit to us online and cannot be responsible for the theft, destruction or inadvertent disclosure of your Personal Information.  KT8 and their directors, officers, employees, agents, contractors, subcontractors or agents thereof do not represent, warrant or guarantee that your Personal Information will be protected against misuse, loss or modification, nor do such parties accept liability for the security of a user’s Personal Information submitted on or in connection with the Sites.
</p>

<strong>
LINK TO OTHER SITES AND ADVERTISING
</strong>

<p>
The Sites may contain links to other websites and services. While we try to link only to sites and services that share our standards for privacy, please understand that we are not responsible for the privacy practices employed by other companies or websites. This privacy policy applies only to the Sites that reference it.


</p>

<strong>
RETENTION AND DESTRUCTION OF PERSONAL INFORMATION
</strong>

<p>
Milao retains Personal Information for as long as is necessary for the purpose for which it was collected.  When we no longer are required to retain the Personal Information, we destroy, erase, or de-identify it.  Legal requirements, however, may require us to retain some or all of the personal information we hold for a period of time that is longer than what we might otherwise hold it for.
</p>

<strong>
ACCESS OR CORRECTIONS/CHANGES TO PERSONAL INFORMATION
</strong>

<p>
We aim to ensure that Personal Information we use is as accurate, up-to-date and complete as possible.

We provide you with the means to access, update, edit or delete any account or registration information you may have provided to us at any time on your own.

If you are unsure whether we have a record containing any of your Personal Information and would like to confirm whether or not we do, please send an e-mail to orders@kt8merch.com indicating all e-mail addresses and social accounts that you may have given us. You can ask us to correct your information any time.

You also have the right to formally request access or corrections to your Personal Information under the Personal Information Protection of Electronic Documents Act (“PIPEDA”).

Milao is required to direct individuals who request formal access or corrections to their personal information to our Privacy Officer. Once we receive a formal request under PIPEDA, our Privacy Officer will respond according to PIPEDA.
</p>

<strong>
DISCLOSURE
</strong>

<p>
We will only disclose or transfer your Personal Information to third parties:
</p>

<p>
When you have given express consent;

</p>

<p>
Who are acting on our behalf as our agents, suppliers or service providers. Such entities act under contractual controls, requiring them to maintain the confidentiality of all such Personal Information and to use such information solely for purposes related to the provision of the Sites. Your Personal Information may be stored, processed or otherwise used by us or our service providers, both inside and outside of Canada. As a result, another country's courts, governments or law enforcement agencies could obtain disclosure of your information in accordance with another country's laws;

</p>

<p>
As may be set out in the Terms and Conditions, to facilitate the provision of the Sites, such as fulfilling legal requirements;

</p>

<p>
As required by law, including by an order of any court, institution or body with jurisdiction or authority to compel the production of information, or in order to protect or defend a legal interest; or

</p>

<p>
In connection with an KT8 corporate re-organization, merger or amalgamation with another entity, or a sale of all or a substantial portion of the assets of KT8 provided that the Personal Information disclosed continues to be used for the purposes permitted by this privacy policy by the entity acquiring the information.

</p>

<p>
Note that we may also use Non-Personal Information to inform our sponsors and advertisers as to the performance of a particular sponsorship (such as a contest) or advertisement. In such cases we may disclose to those third-party sponsors and advertisers the overall aggregate demographics available regarding, for example, who participated in a contest or who saw and clicked on an advertisement.  No Personal Information will be disclosed to these sponsors and advertisers as part of this process, only information in an anonymous, aggregate form will be disclosed in this manner.
</p>

<strong>
OUR ROLES AND RESPONSIBILITES
</strong>

<p>
We are responsible for the Personal Information that we collect, retain, use, disclose, and destroy in the course of operating the Sites. We are responsible for overseeing the implementation of those policies and practices, including:
</p>

<p>
Providing training for all KT8 staff, (including casual staff and contractors) in accordance with this privacy policy;
</p>

<p>
Ensuring open, full and timely communication with individuals about our policies, practices and expectations with respect to the handling of Personal Information;

</p>

<p>
Establishing standards for classifying the sensitivity of Personal Information, to determine the appropriate level of security required for the information;

</p>

<p>
Working to ensure that personal information is safeguarded from improper access, loss, use, disclosure or destruction;

</p>

<p>
Implementing systems to ensure that only our staff whose responsibilities require access to Personal Information are granted access to that information;

</p>

<p>
The inclusion of specific provisions in contracts or other arrangements with third parties, that require adherence to applicable law as well as to this privacy policy and other internal procedures;

</p>

<p>
Ensuring procedures are in place under which individuals may request access to their Personal Information, request correction of their Personal Information, and file complaints concerning the management of their Personal Information; and

</p>

<p>
Ensuring procedures are in place under which individuals are notified of an improper collection, retention, use, disclosure or destruction of their personal information.

</p>

<p>
Our Privacy Officer will act as the main point of contact for individuals seeking information or who have concerns about our handling of their Personal Information.
</p>

<strong>
MONITORING AND EVALUATION
</strong>

<p>
We conduct periodic reviews to measure compliance with this privacy policy and, where required, initiate action to correct any issues.
</p>

<strong>
CHILDREN
</strong>

<p>
We are committed to protecting the privacy of children and we do not knowingly solicit Personal Information from children under the age of 13.  If a child has already provided us with Personal Information, their parent or guardian may contact us for the purpose of deleting this information.


</p>

<strong>
COMMENT, QUESTION, COMPLAINTS
</strong>

<p>
If you have any comments, questions or complaints about this policy or about how we manage Personal Information, you may contact:


</p>

<strong>
PRIVACY OFFICIER
</strong>

<p>
Email: info@killthe8.com

Where an individual is not satisfied with the actions we may have taken to rectify a matter, or with the explanations given, they will be informed of their right to file a complaint under PIPEDA, and will be given direction as to how to do so.

Please check this Privacy Policy regularly for updates by checking the date of “Last Update” at the top of this document.
</p>

{% endblock %}
