{% extends 'base.html.twig' %}

{% block current_css %}
    <link rel="stylesheet" href="{{ asset('asset/style/help.css') }}">
{% endblock %}

{% block title %}Hello ReturnPController!{% endblock %}

{% block body %}
<h1>
RETURN POLICY
</h1>

<strong>
Return & Exchange Policy & Procedures
</strong>

<strong>
RULES OF THE GAME
</strong>

<p>
We will accept a return within 30 days of receipt. If the return and/or exchange is due to an internal error including defective merchandise, or a wrong item sent out, Kill The 8 will incur all shipping costs. If the return and/or exchange is due to an item that does not fit,
 or you are not satisfied with the product you ordered and would like to exchange it for a different size and/or style, you will be responsible for any shipping costs incurred to ship it back to us. YOU WILL ALSO BE RESPONSIBLE FOR ANY ADDITIONAL SHIPPING COSTS ASSOCIATED WITH SHIPPING THE ITEM(S) BACK TO YOU. After 30 days of purchase, we will only accept returns on damaged or defective merchandise.
</p>

<p>
Returns or exchanges will only be accepted on merchandise purchased ONLINE from Kill the 8 Online Stores.
</p>

<p>
If your order arrives in less than perfect condition, please email Milaocustomer@merch.com and provide your order number and photos of both the item(s) you received, AND packaging. We will assess and provide further instructions.
</p>

<p>
Returns or exchanges on all merchandise will be accepted within 30 days of receipt, if the items are unused, unworn, and unwashed.
</p>

<p>
All Media (ie. CD, Vinyl, DVD, Book) sales are final.
</p>

<p>
We will not initiate a return / resend for vinyl playback irregularities, using a non-adjustable turntable. Any and all vinyl manufacturing defects must be present on a properly adjusted, counter-balanced tonearm, for return / resend consideration. Click here for instructions on how to balance your tonearm.
</p>

<p>
Underwear and body jewelry can not be exchanged or refunded unless there is an obvious factory defect
</p>

<p>
we are not responsible for lost or stolen packages/orders sent internationally using a "NON TRACKABLE" delivery option
</p>

<p>
we does NOT offer exchanges on orders placed outside of The United States and Canada
</p>

<h4>
HOW TO RETURN AN ITEM
</h4>

<p>
Please follow these steps so we can process your return efficiently and effectively
</p>

<p>
Read over the "Rules of the Game" to be sure you qualify for a return.
</p>

<p>
Before returning an item, please email us at Milaocustomert@merch.com to receive a return form and arrange to pre pay for a return UPS label. The cost to return an item via UPS will be $10usd.
 Customer Support will send you an invoice to pay for the shipping label. 
</p>

<p>
Once you have received the return form, fill out all fields on the form, and print it out.
 Your order number and item description can be found on your order confirmation.
</p>

<p>
Pack item(s) securely (including the return form), affix the provided UPS label to the outside of the parcel,
 and drop off at nearest UPS Store. 
</p>

<p>
Please email us after you've dropped the return off at UPS and we will monitor tracking. 
</p>

<p>
We cannot return or exchange undergarments. This includes Bikini Tops.
</p>

<p>
All DVD, Vinyl and CD sales are final.

</p>

<p>
If the return is a result of a Kill The 8 error, shipping costs will be refunded to you by Kill The 8. Otherwise shipping costs will NOT be refunded.
</p>

<p>
Send To:
</p>

<p>
RETURNS
Milao Merch Co - Online Returns
Gre la street
Tel: 17
</p>
{% endblock %}
